<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.moma.org/d/assets/W1siZiIsIjIwMjIvMTAvMjUvNTZsYmY0emdlZV8xMzBfMTk0Nl9hX2NfdnczX0NDQ1JfUHJlc3NfU2l0ZS5qcGciXSxbInAiLCJjb252ZXJ0IiwiLXF1YWxpdHkgOTAgLXJlc2l6ZSAyMDAweDYxNV4gLWdyYXZpdHkgQ2VudGVyIC1jcm9wIDIwMDB4NjE1KzArMCJdXQ/130_1946_a-c_vw3_CCCR-Press%20Site.jpg?sha=ddfb5db7e1d6b615" class="d-block w-100" alt="...">

    </div>
    <div class="carousel-item">
      <img src="https://www.moma.org/d/assets/W1siZiIsIjIwMjIvMTAvMjUvOGswaDZ5OWVweF8xOTc5X0pBTV9HYWxsZXJ5X1N5bnRoZXNpc19FeGhpYml0aW9uX2NlbnRlcl9UeXJvbmVfTWl0Y2hlbF9CYXJiYXJhX01pdGNoZWxsX2Zyb250XzJfY2NfM18uanBnIl0sWyJwIiwiY29udmVydCIsIi1xdWFsaXR5IDkwIC1yZXNpemUgMjAwMHg2MTVeIC1ncmF2aXR5IENlbnRlciAtY3JvcCAyMDAweDYxNSswKzAiXV0/1979_JAM%20Gallery_Synthesis%20Exhibition%20center%20Tyrone%20Mitchel,%20Barbara%20Mitchell%20front%20%282%29cc%20%283%29.jpg?sha=b3084084c8d4a9e8" class="d-block w-100" alt="...">

    </div>
    <div class="carousel-item">
      <img src="https://www.moma.org/d/assets/W1siZiIsIjIwMjIvMTEvMDQvMmxmdnB5eTkxcF8yMDIyX01vTUFvcmdfVG9wQmFubmVyX01zaGlwX1BSRUZFUlJFRC5qcGciXSxbInAiLCJjb252ZXJ0IiwiLXF1YWxpdHkgOTAgLXJlc2l6ZSAyMDAweDYxNV4gLWdyYXZpdHkgQ2VudGVyIC1jcm9wIDIwMDB4NjE1KzArMCJdXQ/2022_MoMAorg_TopBanner_Mship_PREFERRED.jpg?sha=a8399f4cc6b920e6" class="d-block w-100" alt="...">

    </div>
    <div class="carousel-item">
      <img src="https://www.moma.org/d/assets/W1siZiIsIjIwMjIvMDMvMjMvOWw2eXdxY3JpN19CZW5uZXR0X0ZvZGR5LmpwZyJdLFsicCIsImNvbnZlcnQiLCItcXVhbGl0eSA5MCAtcmVzaXplIDEzMDB4NDAwXiAtZ3Jhdml0eSBDZW50ZXIgLWNyb3AgMTMwMHg0MDArMCswIl1d/Bennett-Foddy.jpg?sha=73f9b5ab4b38e961" class="d-block w-100" alt="...">

    </div>
    <div class="carousel-item">
      <img src="https://www.moma.org/d/assets/W1siZiIsIjIwMjIvMTEvMDQvOXRkZnd4ZDFjOV8zNDFfMjAyMV9DQ0NSX1ByZXNzX1NpdGVfMV8uanBnIl0sWyJwIiwiY29udmVydCIsIi1xdWFsaXR5IDkwIC1yZXNpemUgMjAwMHg2MTVeIC1ncmF2aXR5IENlbnRlciAtY3JvcCAyMDAweDYxNSswKzAiXV0/341_2021_CCCR-Press%20Site%20%281%29.jpg?sha=498ae6ddae78f31f" class="d-block w-100" alt="...">

    </div>
    <div class="carousel-item">
      <img src="https://www.moma.org/d/assets/W1siZiIsIjIwMjIvMTEvMDQvMWxjYmlqejFrYV9QUzFfQWVyaWFsX0J1aWxkaW5nX1Nob3RfRURJVEVEX0Nvb2xfUENfTm9lbF9Xb29kZm9yZF8yNzI5XzFfLmpwZyJdLFsicCIsImNvbnZlcnQiLCItcXVhbGl0eSA5MCAtcmVzaXplIDIwMDB4NjE1XiAtZ3Jhdml0eSBTb3V0aCAtY3JvcCAyMDAweDYxNSswKzczIl1d/PS1_Aerial%20Building%20Shot_EDITED_Cool_PC-Noel%20Woodford-2729%20%281%29.jpg?sha=9487a44edc1f8372" class="d-block w-100" alt="...">

    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden"> Previous </span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden"> Next </span>
  </button>
</div>
